---
layout: default
---

<article class="showcase-table"> 
  <div class="showcase-container">
    <div class="showcase-title">   Leading Data Hackathon</div>
    <img src="/public/img/bdu.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">We were winning the<a href="http://agostontorok.github.io/2017/07/14/telekom_data_hackathon/"> Telekom Big Data Hackathon</a> with a deep learning solution for personalized advertising. Watch my presentation of our submission at<a href="https://www.youtube.com/watch?v=_OJEKvGt1Yk&index=3&list=PLC7qKZPszQ467egsJfcSK92LJrvBPghLB"> Big Data Universe </a> </div>
    </div>
  </div>
  <div class="showcase-container">
    <div class="showcase-title">   FIFA World Cup 2018</div>
    <img src="/public/img/fifa.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle"><div class="text">I <a href="https://www.kaggle.com/agostontorok/soccer-world-cup-2018-winner">played around with predicting the winner of the FIFA World Cup 2018</a>, which work become useful to many kagglers. And my bet is on Germany :) </div></div></div><div class="showcase-container"><div class="showcase-title">   My thesis in VR</div>
    <img src="/public/img/vrapp.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">Download it from <a href="https://play.google.com/store/apps/details?id=com.Torok.Dissertation&hl=en">Google Play Store</a>, where this was the first VR thesis.</div>
    </div>
  </div>
  <div class="showcase-container">
    <div class="showcase-title">   An AR poster</div>
    <img src="https://pbs.twimg.com/media/CrAu1fUWIAA6QFa.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">Have you ever wished that your figures could speak for themselves? To this aim I brought this AR poster to <a href="http://agostontorok.github.io/2016/08/25/ECVP_AR_poster/">ECVP2016 </a>.</div>
    </div>
  </div>
  <div class="showcase-container">
    <div class="showcase-title">   The invisible countries</div>
    <img src="/public/img/invisiblecountries.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">With this <a href="http://agostontorok.github.io/2017/12/20/christmas_post/">interactive visualization</a>, I raised awereness to the people who cannot share their stories. Read also <a href="http://agostontorok.github.io/2018/01/11/data_science_product_development/">how I made the visualization</a> </div>
    </div>
  </div>
  <div class="showcase-container">
    <div class="showcase-title">   My 3D presentation tool </div>
    <img src="/public/img/slidesofloci.png" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">I was always interested in remarkable presentations.<a href="https://github.com/agostontorok/slides-of-loci#-slides-of-loci-"> Slides of Loci </a>represents my ars poetica as a prototype 3D2D presentation tool</div>
    </div>
  </div>
</article>

<hr>

<h1>My Blog</h1>

{% for post in site.posts %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% unless forloop.first %}</ul><hr/>{% endunless %}
<h2 id="y{{post.date | date: "%Y"}}" class="page-title">{{ currentdate }}</h2>
<ul class="related-posts">
  {% assign date = currentdate %}
  {% endif %}
  <li>
    <h2>
      <a href="{{ site.baseurl }}{{ post.url }}">
        <span>{{ post.title }}</span><br/>
        <small>{{ post.date | date: '%d %B %Y' }}</small>
      </a>
    </h2>
  </li>
  {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  <a href="{{ site.baseurl }}{{ post.url }}"> more... </a>
{% if forloop.last %}</ul><hr/>{% endif %}
{% endfor %}

{% if false %}
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
{% endif %}
