@charset "utf-8";

@font-face {
	font-family: 'SEGOE';
	src: url('segoeuil.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0 auto;
	padding: 0;
	font-weight: normal;
	color: rgb(50,50,50);
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	color: rgb(50,50,50);
}

a:hover {
	color: rgb(90,90,90);
}

html {
	width: 100%;
}

body {
	width: 960px;
	font-family: "Arial Unicode MS";
}

header {
	height: 220px;
	border-bottom: 1px solid #999999;
}

.socials {
	background-color: #3A2627;
	overflow: hidden;
}

.social-image {
	height: 25px;
	width: 25px;
	margin: 6px 15px 6px 0px;
	float: right;
	border: 2px #3A2627 solid;
	border-radius: 25px 25px 25px 25px;
}

.social-image:hover {
	border: 0px #FFFFFF solid;
	height: 29px;
	width: 29px;
}

.title {
	width: 220px;
	height: 180px;
	float: left;
	border-right: 1px solid #999999;
}

.title h1 {
	width: 200px;
	height: 180px;
	font-size: 48px;
	text-align: right;
	padding-right: 15px;
	vertical-align: middle;
	display: table-cell;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
}

.quote {
	width: 739px;
	height: 180px;
	float: right;
}

.quote h3 {
	width: 739px;
	height: 180px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
}

.main {
	height: 100%;
	overflow: hidden;
}

nav {
	width: 220px;
	float: left;
	border-right: 1px solid #999999;
	height: 100%;
	overflow: hidden;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
	text-transform: capitalize;
}

nav a {
	color: rgb(30,30,30);
	text-align: right;
	display: block;
	padding: 2px 0px 2px 0px;
	width: 210px;
	text-transform: uppercase;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
	font-size: 17px;
	line-height: 23px;
}

nav a:hover {
	/*text-shadow: 4px 4px 5px rgb(100,100,100);*/
	color: rgb(30,30,30);
	font-size: 18px;
}

nav .padd {
	background: #f2f2f2;
	overflow: hidden;
	width: 220px;
}

nav .sub-menu {
	color: rgb(90,90,90);
	float: right;
	text-transform: none;
	margin-right: 15px;
}

nav .sub-currentmenu {
	color: rgb(90,90,90);
	float: right;
	text-transform: none;
	margin-right: 15px;
}

section {
	min-height:250px;
	width: 739px;
	float: right;
	font-size: 14px;
	background: #f2f2f2;
}

article {
	text-indent: 0px;
	margin: 0 5px 0 5px;
	padding: 5px 0px 10px 0px;
	overflow: hidden;
}

section img {
	margin: 0px 0px 0px 0px;
	width: 739px;
	overflow: auto;
}

article ul {
	list-style: none;
	padding-top: 2px;
}

article li {
	padding: 2px 0px 2px 2px;
}

h1 {
	font-size: 18px;
	padding: 10px 10px 10px 30px;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
}

td {
	min-width: 100px;
	padding-bottom: 5px;
}

footer {
	height: 29px;
	overflow: hidden;
	margin-top: 30px;
	text-align: right;
	font-size: 11px;
}

h2{
	font-weight: bold;
	font-size: 18px;
	padding: 10px 10px 10px 30px;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
}


h3{
	font-size: 18px;
	padding: 10px 10px 10px 30px;
	font-family: "Segoe UI Light", "SEGOE", "Arial Unicode MS", sans-serif;
}

/*----CV----*/

table{
	width:738px;
	display:table;
}

tr{
	margin-bottom:5px;
	line-height: 20px;
}


td{
	display:table-cell;
	line-height: 20px;
	width:100px;
}

td:first-child{
	width: 128px;
}

td:last-child{
	width:510px;
}


table h4{
	font-size: 15px;
	padding-right:10px;
}

#skill tr td:first-child{
	width:128px;
}

#skill tr td:last-child{
	width:610px;
}

.tablebottom{
	border-bottom:1px solid #999999;
	float:right;
	width:600px;
	margin-bottom:10px;
}


