<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
    	<div class="socials">
        	<a href="mailto:torok.agoston@ttk.mta.hu"><img src="images/icon_mail.png" class="social-image" alt="e-mail" title="e-mail"></a>
            <a href="http://www.researchgate.net/profile/Toeroek_Agoston2/" target="_blank"><img src="images/icon_rg.png" class="social-image" alt="researchgate" title="Researchgate"></a>
            <a href="http://hu.linkedin.com/pub/%C3%A1goston-t%C3%B6r%C3%B6k/5a/189/384" target="_blank"><img src="images/icon_linkedin.png" class="social-image" alt="linkedin" title="linkedin"></a>
			<a href="http://elte.academia.edu/T%C3%B6r%C3%B6k%C3%81goston" target="_blank"><img src="images/aelogo.png" class="social-image" alt="academia.edu" title="Academia.edu"></a>
        </div>
        <div class="title">
        	<a href="index.html"><h1>ágoston<br>TÖRÖK.</h1></a>
        </div>
        <div class="quote">
        	<h3><q>Prediction is very difficult, especially about the future.</q> Niels Bohr</h3>
        </div>
    </header>
    <div class="main">
        <nav>
            <a href="index.html">Me</a>
            <div class="padd"><a href="index.html" class="sub-currentmenu">About me</a></div>
            <!--<a href="#" class="sub-menu"> > Blog</a>-->
            <a href="cv.html" class="sub-menu">CV</a>
            <a href="research.html">Research</a>
            <a href="teaching.html">Teaching</a>
            <a href="publications.html">Publications</a>
            <a href="contact.html">Contact me</a>
        </nav>
        <section>
    			<div class="container">
    			
    			{{ content }}
    			
    			</div><!-- /.container -->
        </section>
    </div>
    <footer>
        <p>Copyright © 2013 by RhisiartK & Smokerigni</p>
    </footer>
</body>
</html>
